
.leftgap {
  grid-area: 2/1/5/1;
  /*background-color: blue;*/
}
.rightgap {
  grid-area: 2/4/5/5;
}
.homebody {
  scroll-margin-top: 50px;
  margin-top: 50px;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
}
.blogbody {
  margin-top: 50px;
  grid-area: 2/2;
}

@media (max-width:750px){
  .navig {
  display: none;}

  .topgap {
    position: fixed;
    left: 5vw;
    right:5vw;
    top:0;
    border-bottom-style: double;
    border-bottom-width: 5px;
    border-bottom-color: #666;
    grid-area: 1/1/1/5;
    background-color: #aaa;
    overflow: hidden;
  }
}
@media (min-width:750px){
  .navig {
  margin-top: 50px;
  position: inherit;
  right: 11.5vw;
  grid-area: 2/3/5/3;
  position: fixed;}

  .topgap {
    position: fixed;
    left: 10vw;
    right:10vw;
    top:0;
    border-bottom: : 5px #666 double;
    border-bottom-style: double;
    border-bottom-width: 5px;
    border-bottom-color: #666;
    grid-area: 1/2/1/4;
    background-color: #aaa;
    overflow: hidden;
  }
}
